@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.header-gradient1 {
  inset: 0;
  background: radial-gradient(circle at 75% 50%,#f8f5ce 10%, 
  #e4cfa2 30%, 
  #b08b5b 55%, 
  #7d654b 85% );
}

.header-gradient2 {
  inset: 0;
  background: radial-gradient(circle at 30% 50%,#f8f5ce 10%, 
  #e4cfa2 30%, 
  #b08b5b 55%, 
  #7d654b 85% );
}

.book-gradient {
  inset: 0;
  background: radial-gradient(circle at 30% 50%,#f8f5ce 3%, 
  #e4cfa2 20%, 
  #b08b5b 85%);
}
